@font-face{
    src:url(fonts/Poppins-Regular.ttf);
    font-family: Poppins;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
